.idea
node
target
*.log
*.iml
*.lock

/opleidingen-server/src/main/resources/ui/node_modules/
/opleidingen-server/src/main/resources/ui/test-reports/karma
/opleidingen-server/src/main/resources/ui/src/jspm_packages
/opleidingen-server/src/main/resources/ui/src/assets/css
/opleidingen-server/src/main/resources/ui/src/app/config/config.js
/opleidingen-server/src/main/resources/static/
/opleidingen-server/src/main/resources/ui/test-reports/

/opleidingen-server/src/main/resources/static/ui/app.bundle*
/opleidingen-server/src/main/resources/static/ui/index.html

/opleidingen-server/src/main/resources/application-LOCAL.properties
logs/



