.idea
node
target
*.log
*.iml
*.lock

/spring/src/main/resources/ui/node_modules/
/spring/src/main/resources/ui/test-reports/karma
/spring/src/main/resources/ui/src/jspm_packages
/spring/src/main/resources/ui/src/assets/css
/spring/src/main/resources/ui/src/app/config/config.js
/spring/src/main/resources/static/
/spring/src/main/resources/ui/test-reports/

/spring/src/main/resources/static/ui/app.bundle*
/spring/src/main/resources/static/ui/index.html

/spring/src/main/resources/application-LOCAL.properties
logs/



