{
    "root": true,
    "env": {
        "es6": true,
        "jasmine": true
    },
    "parser": "babel-eslint",
    "globals": {
        "iceUnit": false,
        "angular": false,
        "cordova": false,
        "StatusBar": false,
        "device": false,
        "Media": false,
        "PushNotification": false,
        "ionic": false,
        "console": false
    },
    "plugins": [
        "angular",
        "babel"
    ],
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            2,
            "single"
        ],
        "comma-spacing": [
            2,
            {
                "before": false,
                "after": true
            }
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "strict": 0,
        "no-console": 0,
        "no-debugger": 0,
        "generator-star-spacing": 0,
        "new-cap": 0,
        "object-curly-spacing": 0,
        "object-shorthand": 0,
        "arrow-parens": 0,
        "no-await-in-loop": 0,
        "angular/controller-as-vm": 0,
        "angular/controller-name": [
            2,
            "/[A-Z].*Ctrl$/"
        ],
        "angular/di": [
            0,
            "$inject"
        ],
        "angular/module-getter": 0,
        "angular/no-service-method": 0,
        "babel/generator-star-spacing": [
            2,
            "after"
        ],
        "babel/new-cap": 2,
        "babel/object-curly-spacing": [
            2,
            "never"
        ],
        "babel/object-shorthand": [
            2,
            "always"
        ],
        "babel/arrow-parens": [
            2,
            "always"
        ],
        "babel/no-await-in-loop": 2
    },
    "extends": "eslint:recommended"
}
